<div class="main-details-background-container">
  <section class="main-details-background">

      {{#with details}}

      <div class="main-details-info main-details-info-property">
      <img src="{{img}}" alt="img-property" class="property-detail-img"/>
      <div>
        <h5>{{name}}</h5>
        <p><b>Location:</b> {{location}}.</p>
        <p><b>Dimensions:</b> {{m2}}m².</p>
        <p><b>Price:</b> $ {{price}}.-</p>
        <p><b>Amenities: </b>
            {{#each amenities}}
                <li>{{this}}.</li>
            {{/each}}
        </p>
        <p><b>Posted:</b> {{../created}}.</p>
        <p><b>Updated:</b> {{../updated}}.</p>
        <p><b> Owner:</b> {{owner.surname}} {{owner.name}}.</p>
        <p><b>Phone:</b> {{owner.phone}}</p>
       <div>
          <div class="buttons-details-properties">
          {{/with}}
          {{#if sameOwner}}
          <a href="/property/edit/{{details._id}}" class="btn btn-outline-info">Edit</a>
          {{/if}}

          <form action="/profile/favourites/{{details._id}}" method="post">
          {{#if isUserActive}}
            <button class="btn btn-primary"> Add favourite</button> 
          {{/if}}
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
    {{> footer}}

