<section class="container-edit-profile">

  <h2>Edit your property</h2>
  {{#with details}}
    <form
      action="/property/edit/{{_id}}"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" class="form-control" value="{{name}}" />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          name="location"
          class="form-control"
          value="{{location}}"
        />
      </div>

      <div class="mb-3">
        <label for="m2" class="form-label">M2:</label>
        <input type="number" name="m2" class="form-control" value="{{m2}}" />
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Images: </label>
        <input
          class="form-control"
          name="img"
          type="file"
          id="formFileMultiple"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input
          type="text"
          name="price"
          class="form-control"
          value="{{price}}"
        />
      </div>

      <div class="mb-3">
        <div>
          <h3>Amenities</h3>
          {{#each amenities}}
            <li>
              <label for="{{this}}">{{this}}</label>
              <input type="checkbox" name="{{this}}" checked />
            </li>
          {{/each}}
        </div>
      </div>
      <br />
      <div class="edit-button-container">
      <button class="btn btn-primary">Update</button>
    </form>
  {{/with}}
  {{#if sameOwner}}
    <form action="/property/delete/{{details._id}}" method="post"><button class="btn btn-danger delete-user-edit">Delete</button></form>
  {{/if}}
  </div>
</section>
    {{> footer}}
