<div class="div-main-list-container">
{{#if isUserActive}}
  <nav class="nav-list-container">
  <a href="/property/create">Add house</a>
  <a href="/profile/favourites">Favourites</a>
  </nav>
{{/if}}
  <h1>List of houses</h1>

  {{#each listProperties}}

    <div class="row row-cols-1 row-cols-md-2 g-4" class="list-container-main">
      <div class="col">
        <div class="card" id="list-container">
          <img src="{{this.img}}" class="card-img-top" alt="img-property" />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Location: {{this.location}}.</p>
            <p class="card-text">Price: $ {{this.price}}.-</p>
            <p class="card-text">Property for {{this.apartmentFor}}.</p>
        

            <div class="button-container-list">
              <a
                href="/property/details/{{this._id}}"
                class="btn btn-outline-info"
              >More details!</a>
              <form action="/profile/favourites/{{this._id}}" method="post">
                <button class="btn btn-primary"> Add favourite</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>