<section class="container-edit-profile">

  <h2>Edit your user profile</h2>
  {{#with details}}
    <form action="/profile/edit/{{_id}}" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" class="form-control" value="{{name}}" />
      </div>
      <div class="mb-3">
        <label for="surname" class="form-label">Surname:</label>
        <input type="text" name="surname" class="form-control" value="{{surname}}" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" name="email" class="form-control" value="{{email}}" />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="text" name="phone" class="form-control" value="{{phone}}"/>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role:</label>
        <input type="text" name="role" class="form-control" value="{{role}}" readonly/>
      </div>

      <div class="mb-3">
        <label for="img" class="form-label">Image: </label>
        <input
          class="form-control"
          type="file"
          name="img"
          id="formFile"/>
      </div>
      <br />
      <div class="edit-button-container">
      <p>{{response}}</p>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <form action="/profile/delete/{{_id}}"method="post" ><button class="btn btn-danger delete-user-edit">Delete</button></form>
    </div>
  {{/with}}
</section>
    {{> footer}}
<style>
  .container-edit-profile {
    width: 30%;
    height: 85vh;
    margin: 20px auto;
    border: 1px solid;
    padding: 20px;
    background-color: e7f5ff;
    border-radius: 5px;
  }
  .edit-button-container {
    display: flex;
    height: 38px;
  }
  .delete-user-edit{
    margin-left: 20%;
  }
</style>