<h3>Lista de favoritos:</h3>        

<div class="background-list">
  <div class="container mx-auto mt-4 ">
    <div class="row">
    {{#each favouriteList}}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{this.img}}" class="card-img-top" alt="img-property" />
          <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Location: {{this.location}}.</h6>
              <p class="card-text">Price: $ {{this.price}}.-</p>
               <p class="card-text">Property for sale.</p>
              <p class="card-text">Owner:
              <b>{{owner.surname}} {{owner.name}}</b></p>
              <form action="/profile/favourites/{{_id}}/delete" method="POST">
               <button class="btn btn-primary">Remove</button>
               </form>
          </div>
        </div>
      </div>    
    {{/each}}
    </div>
  </div>
</div>

    {{> footer}}