<div class="main-details-background-container">
<section class="main-details-background">
  {{#with details}}
  <div class="main-details-info">
      <img src="{{img}}" alt="img-profile-user" width="150px" />
      <div>
        <br>
        <h3>User:</h3>
        <h5 >Name: {{name}}.</h5>
        <p >Surname: {{surname}}.</p>
        <p >E-mail: {{email}}</p>
        <p >Phone: {{phone}}.</p>
        <a href="/profile/edit/{{_id}}"><button class="btn btn-primary"> Edit</button></a>
      </div>
    </div>
  {{/with}}
</section>
</div>
    {{> footer}}
