<section class="main-container-profile">
  {{#with details}}
    <div class="container-profile">
      <img src="{{img}}" alt="img-profile-user" width="150px" />
      <div class="card-body">
        <br>
        <h3>User:</h3>
        <h5 class="card-title">Name: {{name}}.</h5>
        <p class="card-text">Surname: {{surname}}.</p>
        <p class="card-text">E-mail: {{email}}</p>
        <p class="card-text">Phone: {{phone}}.</p>
        <a href="/profile/edit/{{_id}}" class="btn btn-outline-info">Edit</a>
      </div>
    </div>
  {{/with}}
</section>
    {{> footer}}
