<div>

  <h2>Edit your Professional profile</h2>
  {{#with details}}
    <form action="/professional/edit/{{_id}}" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" class="form-control" value="{{name}}" />
      </div>
      <div class="mb-3">
        <label for="cif" class="form-label">CIF:</label>
        <input type="text" name="cif" class="form-control" value="{{cif}}" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" name="email" class="form-control" value="{{email}}" />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="text" name="phone" class="form-control" value="{{phone}}"/>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role:</label>
        <input type="text" name="role" class="form-control" value="{{role}}" readonly/>
      </div>

      <div class="mb-3">
        <label for="professional-img" class="form-label">Image: </label>
        <input
          class="form-control"
          type="file"
          name="professional-img"
          id="formFile"/>
      </div>

 
      <br />
      <p>{{response}}</p>

      <button>Update</button>

    </form>
    <form action="/professional/delete/{{_id}}" method="post"><button>Delete</button></form>
  {{/with}}

</div>