<div>
  <a href="/professional/promote">My promotes</a>

  <h1>List of houses</h1>
</div>

{{#each listProperties}}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{{this.img}}" class="card-img-top" alt="img-property" />
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">Location: {{this.location}}.</p>
          <p class="card-text">Price: $ {{this.price}}.-</p>
          <p class="card-text">Property for sale.</p>

          <a href="/professional/details/{{this._id}}" class="btn btn-outline-info">More details!</a>
          <form action="/professional/promote/{{this._id}}" method="post">
            <button class="btn btn-primary">Promote House</button>
          </form>

        </div>
      </div>
    </div>
  </div>

{{/each}}